/*this is a tag selector*/

body{
background-color: #99d898;
font-family: Barlow, Arial, sans-serif;
font-size: 22px;
font-weight: 900;
color: #FFF;
}

/*this is a descendant selector*/

haeder h1 {
font-family: Georgia, serif;
}

nav{
 background-color: #FFF;
 padding: 20px;
 font-family: Georgia,serif;
}

nav a {
margin: 20px;
color:pink;
text-decoration: none;
}


main img.image1{
width:500px;
}

main img.images2 {
width:100px;
}


main a {
color: red;
text-decoration: none;
}

main a:hover {
color:#000;
}



footer h1 {
font-size: 12px;
}


