/* START border-box fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* END border-box fix */


body {
    background-color: #f4e8e8; /* Light rosy brown background for subtle warmth */
    color: #5e4a4a; /* Darker rosy brown text for contrast */
      font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


div.container {
	width: 90%;
	margin: 0px auto;
	background-color: #fff;
}

header, nav, main, aside, footer {
padding: 10px;
}

header {
  background-color: #bc8f8f;
}


nav {
  background-color: #a67878;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  background-color: #fff;
  width: 100px;
  text-align: center;
  padding: 6px 0px;
  margin: 0px 20px 0px 0px;
  border: solid 1px #000;
}

/* New rule to remove text decoration from nav links */
nav a {
  text-decoration: none; /* Remove underline */
  color:#945858; /* Set text color */
}

nav a:hover {
  color: black; /* Change color on hover */
}


main {
  background-color: #f7f2f2;
  float: left;
  width: 70%;
}

main div.description img.thumbnail {
width: 100px;
border: solid 10px #000;
float: left;
margin: 0px 15px 5px 0px;
}

main div.description {
	margin-bottom: 40px;
}

div.buttonAbsolute {
	background-color: white;
	position: absolute;
	top: 0px;
	right: 150px;
	padding: 20px;
	border-radius: 125px;
	z-index: 4;
	opacity:0.6;
	width: 130px;
	text-align: center;
}

div.buttonAbsolute2 {
	background-color: white;
	position: absolute;
	top: 0px;
	right: 260px;
	border-radius: 200px;
	padding: 20px;
	z-index: 3;
	width: 100px;
	height: 100px;
}

div.buttonRelative {
	background-color: white;
	position: relative;
	left: 115px;
	width: 100px;
	padding: 10px;
	z-index: 5;
}






aside {
  background-color: #d2b4b4;
  float:left;
  width: 30%;
}

 /* Footer */
footer {
    background-color: #5e4a4a; /* Darker rosy brown for footer */
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
  float: none;
  clear:both;
}